

.container{
    padding: 60px 14px;
    color: #fff;
}


.headerDetail{
 display: flex;
 gap: 20px;
}

.linkBack{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8b8b8b;
    transition: 0.3s ease;
}

.linkBack:hover{
    color: #fff;
    transition: 0.3s ease;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 span{
    font-size: 22px;

}

.content{
    /* max-width: 420px; */
    background-color: #0f0f0f;
    margin: 24px auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 14px;
    gap: 14px;

}

.logo{
    width: 60px;
    height: 60px;
    
}



.profit{
    color: #12f98a;
    font-weight: bold;
}

.loss{
    color: #f91257;
    font-weight: bold;
}

